input,
textarea {
  font-size: 14px;
  padding: 5px 10px;
  field-sizing: content;
  border: none;
}
.CreatePost input,
textarea {
  width: 500px;
}
input {
  background-color: #e0e1d6ff;
}
input:focus {
  border: 2px solid #95946d;
  outline: 0;
}
textarea {
  background-color: #e0e1d6ff;
  resize: none;
  min-height: 100px;
}
textarea:focus {
  border: 2px solid #95946d;
  outline: 0;
}
